@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Office Management System</h1>
    <p class="lead">Where you can add new employees and departments with more CRUD functions</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add Employee Form</h2>
        <p>
            This form is used to add new employees to the database where you can also view all the existing employees.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Add Department Form</h2>
        <p>This from is used to add new department to the database where you can also view all the existing departments.</p>

    </div>
    <div class="col-md-4">
        <h2>Departments Form</h2>
        <p>This form is used to view all departments and the employees in each one</p>

    </div>
</div>
